<template>
	<div class="carte">
		<img v-bind:src="apprenant.photo">
		<div>
			<h3> {{ apprenant.Nom }} </h3>
			<h4> {{ apprenant.Prénom }} </h4>
			<p> {{ apprenant.Tel}}</p>
			<p> {{ apprenant.Mail}} </p>
		</div>		
	</div>

</template>

<script>
export default{
	name: 'carte',
	props: {
		apprenant: {
			type: Object
		}
	},
}
</script>

<style>
 .carte{
 	display: flex;
 	justify-content: space-between;
 
  	width: 40%;
  	height: 200px;

	text-align: right;
	color: black;
	font-family: Times, Times New Roman, serif;
	font-size: 20px;

	background-color:  #ffffff;
	border: 3px solid red;
	border-radius: 20px;
	margin: 20px;
	padding: 20px;
	-moz-box-shadow: 10px 10px 5px #656565;
	-webkit-box-shadow: 10px 10px 5px #656565;
	-o-box-shadow: 10px 10px 5px #656565;
	box-shadow: 10px 10px 5px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
	box-shadow:5px 5px 5px  #7d6608 ,
		-5px -5px 2px     #f7dc6f;
	}
	img{
		width: 30%;
		height: 90%;
		border-radius: 10%;
	}
														
</style>


