

<template>
  <div id="app">
    <div class="hautDePage">
      <img class="ecolenumerique" src="../photos/école_numérique.png">
      <div class="titre">
        <h1> Simplon Occitannie </h1>
        <h2> Promotion 2018-2019 </h2>
      </div>
      <img class="logo" src="../photos/logo.png">
    </div>
    <div class="chercher">
      <input type="text" v-model="search" placeholder="exemple: Nathan" />
      <div class="bouton">
        <b-dropdown id="ddown1" text="Trier par" class="m-md-2">
          <b-dropdown-item>Nom</b-dropdown-item>
          <b-dropdown-item>Prénom</b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
    <div class="cartes">
      <carte v-for="el in filteredapprenants" :apprenant="el"/>
    </div>
  </div>
</template>


<script>
import json from '../data/apprenants.json'

import carte from './components/carte'

export default {
  name: 'App',
  components: {
    carte
  },
  data(){
    return {
    apprenants:json,
    search:''
    }
  },
  computed: {
    filteredapprenants: function(){
         return this.apprenants.filter((apprenant) => {
          let string = apprenant.Prénom + apprenant.Nom + apprenant.Tel + apprenant.Mail;
          return string.toLowerCase().match(this.search.toLowerCase())
        });
    },
  },
}


</script>

<style>

#app {
  font-family: Apple Chancery, cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:  balck;
  position: relative;
  background-color: #ffffff ;
}

.cartes{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.hautDePage{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
.ecolenumerique{
  margin: 20px;
  width: 40%;
  height: 20%;
}

.titre{
  padding-top: 35px;
  width: 100%;
  text-align: center;
  font: 200px Times, Times New Roman, serif;
  color: red;
}

.logo{
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border-radius: 50%;
}

.chercher{
  display: flex;
  margin: 70px;
}
 
</style>
